*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
html {
  position: relative;
  min-height: 100vh;
}
body {
  background-color: beige;
  font-family: sans-serif;
  line-height: 1.6;
  margin-bottom: 100px;
}
.flex_container {
  min-height: 953px;
  min-width: 1369px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  background-color: gray;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  height: 500px;
  width: 400px;
}
.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
